.course-card,
.video-card {
    border-top-color: #d9cdcd;
    border-top-width: 3px;
    border-top-style: dotted;
    border-right-color: #d9cdcd;
    border-right-width: 3px;
    border-right-style: dotted;
    border-bottom-color: #d9cdcd;
    border-bottom-width: 3px;
    border-bottom-style: dotted;
    border-left-color: #d9cdcd;
    border-left-width: 3px;
    border-left-style: dotted;
    text-align: left;
}

.course,
.video {
    max-width: 20rem;
    min-width: 20rem;
}

.card-body,
.video-body {
    margin: .5rem;
}

a,
div {
    outline: 0;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.wp-container-7>* {
    max-width: 100% !important;
}

body {
    color: #3c434a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}

.btn btn-primary btn-block text-uppercase {
    border-color: #690380;
    background-color: #690380;
}

.form-control btn btn-primary btn-block text-uppercase uwp_register_submit {
    border-color: #690380;
    background-color: #690380;
}