.course-card, .video-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid orange;
    border-radius: .25rem;

}

.course, .video {
    max-width: 20rem;
    min-width: 20rem;

}

.card-body, .video-body {
    margin: .5rem;
}

a, div {
    outline: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.wp-container-7>* {
    max-width: 100% !important;
}

body {
    color: #3c434a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}