<div class=\"courses\" style=\"display: grid; grid-template-columns: auto; grid-gap: 10px; grid-auto-rows: minmax(100px,
    auto);\">
    <div class=\"course\" style=\"grid-column: t1; grid-row: t2\">
        <div class=\"col-12 col-md-2 mt-4\">
            <div id=\"1\" class=\"card\" style=\"border-color: red\">
                <div class=\"card-body\">
                    <h5 class=\"card-title text-center\"><b><u>
                                <p style=\"color: black;\">row->course_name</p>
                            </u></b></h5>
                    <p class=\"card-text\">$row->description</p>
                    <p><b>Teilnehmer: </b> $row->registrations</p>
                    <p><b>Datum:</b> $courseDate</p>
                    <p><b>Link:</b><a href=\"url\"> $row->url</a></p>
                    <p><b>Produkt ID:</b> $row->product_id</p>
                    <div class=\"text-center\">
                        <label class=\"control-label\" style=\"padding: 5px; font-size: 20px;\">
                            <p style=\"color: grey;\">CHF $row->price</p>
                        </label>
                    </div>
                    <div class=\\" Löschen text-center\\">
                        <button onclick=\\"window.location.href='$actual_link&delete=$row->id' ;\\">Löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>